#Порт для подключения к gprc серверу(параметр в net.Listen()) 
GRPC_PORT=

#Подключение к базе дынных(postgres)

#хост
POSTGRES_HOST=
#порт
POSTGRES_PORT=
#имя пользователя
POSTGRES_USER=
#пароль от бд
POSTGRES_PASSWORD=
#имя бд
POSTGRES_DB=